<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Portfolio</title>
 <link rel="stylesheet" href="/profile.css">
</head>

<body>
 <header>
  <a href="profile" class="myHome">My Profile</a>
  <nav>
   <a class="editP" href="profile/edit">Edit Profile</a>
  <a class="usersP" href="/users">Search Users</a>
  </nav>
 </header>
<div class="welcome">
 <h3 class="leftTime" id="time"></h3>
 <h3 class="rightTime" id="currentTime"></h3>
</div>
 
 <div class="role">
 <p> Role: {{data.role}}</p>
 </div>
 <div class="tool">
 <p> Tools: {{data.tools}}</p>
 </div>
 <p> First Name: {{data.firstName}}</p>
 <p> Last Name: {{data.lastName}}</p>
 <p> E-mail: {{data.email}}</p>
 <p> Username: {{data.username}}</p>
 <p> Approved: {{data.approved}}</p>
 <p> Created On: {{data.createdOn}}</p>
 <br>

 <button class="logoutButton">LOG-OUT</button>

<script>
 const logoutButton = document.querySelector(".logoutButton");
 logoutButton.addEventListener("click", async () => {
  const response = await fetch("/auth/logout",{
   method: "POST"
  });
  if(response.ok){
   window.location.href = "/home"
  }
 })

const greetings = document.getElementById("time");
 const date = new Date()
 const hour = date.getHours()
 function getGreeting() {
  if (hour < 12) {
   return "Good Morning {{data.firstName}},"
  } else if (hour >= 12 && hour < 18) {
   return "Good Afternoon {{data.firstName}},"
  } else {
   return "Good Evening {{data.firstName}},"
  }
 }
 greetings.textContent = getGreeting();

 const time = document.getElementById("currentTime");
  setInterval(() => {
   const newTime = new Date();
   time.innerHTML = newTime.toLocaleString()
  }, 1000)
</script>
</body>

</html>